.searchContainer {
  background-color: #ffff;
  margin: 5px 16px;
  box-shadow: 0px 5px 9px 1px rgb(0 0 0 / 10%);
  border-radius: 3px;
}

.piiOnlyBox {
  width: 200px;
}

.divider {
  border-left: 2px solid rgb(214, 214, 214);
  height: 70%;
}

.input {
  border: 0;
  outline: 0;
}

.resetFilter {
  cursor: pointer;
}
